-- This script injects all data required by the entire website's sections

ALTER TABLE portfolio_content DISABLE ROW LEVEL SECURITY;
ALTER TABLE projects DISABLE ROW LEVEL SECURITY;
ALTER TABLE admin_users DISABLE ROW LEVEL SECURITY;

DELETE FROM portfolio_content;

-- Hero
INSERT INTO portfolio_content (id, content) VALUES
('hero', '{
  "meta1": "Portfolio — 2024",
  "meta2": "Based in San Francisco, CA",
  "lines": ["CRAFTING", "DIGITAL", "EXPERIENCES"],
  "subtitle": "Full-stack developer & designer building products that fuse technical precision with thoughtful, lasting design.",
  "stats": [
    { "value": "8+", "label": "Years" },
    { "value": "60+", "label": "Projects" },
    { "value": "30+", "label": "Clients" }
  ]
}'::jsonb);

-- About

-- Skills
INSERT INTO portfolio_content (id, content) VALUES
('skills', '{
  "items": ["React", "TypeScript", "Node.js", "PostgreSQL", "UI/UX Design", "System Architecture", "Next.js", "React Native", "Product Strategy", "Motion Design", "AWS", "Figma", "GraphQL", "Tailwind CSS"]
}'::jsonb);

-- Process

-- Contact

-- Footer
